version: '3.9'
services:
  gateway: 
    container_name: mdoj-gateway
    build: ../../frontend
    # remove comment if you need traefik
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.mdoj.rule=Host(`mdoj.example.com`)"
    #   - "traefik.http.services.mdoj.loadbalancer.server.port=80"
    #   - "traefik.http.middlewares.mdoj-grpcweb.grpcweb.allowOrigins=*"
    #   - "traefik.http.routers.mdoj.middlewares=mdoj-grpc"
    volumes:
      - ./certs:/certs
    ports:
      - "443:443"
    networks:
      - backend
  backend:
    container_name: mdoj-backend
    image: ghcr.io/mdcpp/mdoj:backend
    volumes:
      - ./backend.toml:/config/config.toml
      - ./backend.sqlite:/database/backend.sqlite
    networks:
      - backend
      - judger
  judger:
    container_name: mdoj-judger
    # you can actually turn this off if you setup the cgroup properly(user of the container should own the cgroup)
    privileged: true
    image: ghcr.io/mdcpp/mdoj:judger
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - ./judger.toml:/config/config.toml
    networks:
      - judger
networks:
  judger:
  backend:
