[package]
name = "backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4"
sea-orm = { version = "0.8", features = [
    "sqlx-postgres",
    "runtime-actix-rustls",
    "macros",
    "mock",
] }
sha2 = "0.10"
