[package]
name = "backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["entity"]

[dependencies]
log = "0.4.18"
paste = "1.0.12"
prost = "0.12.3"
toml = "0.7.4"
prost-types = "0.12.3"
entity = { path = "./entity" }
chrono = "0.4.26"
thiserror = "1.0.44"
ring = "^0.17"
lockfree = "0.5.1" 
derive_builder = "0.12.0"
futures = "0.3.29"
bincode = "1.3.3"
base64 = "0.21.5"
uuid = "1.5.0"
tonic-web = "0.10.2"
quick_cache = "0.4.0"
leaky-bucket = "1.0.1"
hickory-resolver = "0.24.0"

[dependencies.tokio-stream]
version = "0.1.14"
features =["sync"]

[dependencies.tracing-subscriber]
version = "0.3.17"
features =["json"]

[dependencies.tracing]
version = "0.1.40"
features =["async-await", "log"]

[dependencies.tokio]
version = "1.28.0"
features =["macros", "rt-multi-thread", "full","time"]

[dependencies.sea-orm]
version = "0.12.2"
features = [
    "runtime-actix-rustls",
    "macros",
    "mock",
    "sqlx-sqlite",
    "with-chrono"
]

[dependencies.serde]
version = "1.0.163"
features = ["derive"]

[dependencies.tonic]
version = "0.10.2"
features = ["transport", "channel", "codegen", "tls", "prost"]

[dependencies.spin]
version = "0.9.8"
features = ["mutex","spin_mutex","rwlock"]

[build-dependencies]
tonic-build = "0.10.2"

[features]
default = ["single-instance"]
unsecured-log = []
single-instance = []
