.show {
    animation: show_animation 0.4s forwards;
}

@keyframes show_animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.close {
    animation: close_animation 0.4s forwards;
}


@keyframes close_animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}


.countdown::before {
    animation: countdown_animation 4s linear forwards;
}


@keyframes countdown_animation {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}